{% extends 'layouts/base.html' %}

{% block content %}
    <div class="mt-4">
        <h1>Add Recipe</h1>
        <form method="POST">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="mb-3" id="ingredient-list">
                <p>Zutaten</p>
                <input type="text" class="form-control" id="ingr-0" name="ingr-0" placeholder="Ingredient 1">
                {#                    <label for="ingr-0">1</label>#}
            </div>
            <button type="button" class="btn btn-warning" onclick="addIngredient()">+</button>
            <div class="mb-3">
                <label for="method" class="form-label">Anleitung</label>
                <textarea class="form-control" id="method" name="method"></textarea>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="true" name="vegan" id="vegan">
                <label class="form-check-label" for="vegan">
                    Vegan
                </label>
            </div>
            <button class="btn btn-primary mt-2">Anmelden</button>
        </form>
    </div>
{% endblock %}

{% block extraJs %}
    <script>
        let ingredient_count = 1
        const addIngredient = () => {
            let ingredient_list = document.getElementById('ingredient-list')
            let new_ingredient_input = `<input type="text" class="form-control mt-1" id="ingr-${ingredient_count}" name="ingr-${ingredient_count}" placeholder="Ingredient ${ingredient_count+1}">`
            ingredient_count += 1

            {#let span = document.createElement('span')#}
            {#span.innerHTML = new_ingredient_input#}
            {#ingredient_list.insertAdjacentElement("beforeend", span)#}
            ingredient_list.insertAdjacentHTML("beforeend", new_ingredient_input)
        }
    </script>
{% endblock %}