{% extends 'layouts/base.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="card">
            <h5 class="card-header text-center">{{ name }}</h5>
            <div class="card-body">
                <h6 class="card-title mb-2">Ingredients</h6>
                <ul>
                    {% for ingredient in ingredients %}
                        <li>{{ ingredient.name }}</li>
                    {% endfor %}
                </ul>
                <h6 class="card-title mb-2">Instructions:</h6>
                <p class="card-text">{{ method }}</p>
            </div>
        </div>
        <a class="btn btn-success mt-1" href="{{ url_for('main.edit_recipe', recipe_id=id) }}">Edit</a>
        <a class="btn btn-danger mt-1" href="{{ url_for('main.del_recipe', recipe_id=id) }}">Delete</a>
    </div>
{% endblock %}