{% extends "layouts/base.html" %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-danger mt-3" role="alert">
                {{ messages[0] }}
            </div>
        {% endif %}
    {% endwith %}
    <div class="card mt-5">
        <div class="card-body">
            <h2 class="card-title text-center">Anmeldung</h2>
            <form method="POST">
                <div class="mb-3">
                    <label for="email" class="form-label">Email-Adresse</label>
                    <input type="email" class="form-control" id="email" name="email">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Passwort</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="remember" name="remember">
                    <label class="form-check-label" for="remember">Anmeldung merken</label>
                </div>
                <button type="submit" class="btn btn-primary">Anmelden</button>
            </form>
        </div>
    </div>
{% endblock %}